.wrapper {
  border-radius: 30px;
  padding-top: 20px;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  padding: 20px;
}

.calendarHeader {
  text-align: center;
  font-weight: bold;
  opacity: 0.9;
  font-size: 20px;
}

.calendarCell {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.heart {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: inline-block;
  z-index: 2;
  border-radius: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 1.2s ease-in-out infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: inherit;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.heart::before {
  top: -12px;
  left: 0;
}

.heart::after {
  top: 0;
  left: 12px;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
  }
}
