.boxContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .boxContainer {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
.titleContainer {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}

.heading {
  text-align: center;
  color: var(--color-text);
  margin-bottom: 10px;
}

.buttonContainer {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 30px;
}
