.container {
  border: 2px solid var(--color-bg);
  padding: 10px 15px;
  border-radius: var(--radius);
  margin-top: 15px;
  box-shadow: var(--shadow-light);
}
.answer {
  color: var(--color-text-muted);
}
