.wrapper {
  background-color: var(--color-muted);
}
.titleContainer {
  padding-bottom: 50px;
}
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.heading {
  text-align: center;
  color: var(--color-hot);
}
