.container {
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  /* color: var(--color-bg); */
  padding: 10px 20px;
  border-radius: var(--radius) var(--radius) 0 0;
  box-shadow: var(--shadow-deep);
  min-width: 300px;
  min-height: 80px;
  background: var(--color-bg);
  font-weight: bold;
}

.progressBar {
  height: 3px;
  background-color: var(--color-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
