.wrapper {
  background-color: var(--color-muted);
}
.cardsContainer {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 772px) {
  .cardsContainer {
    justify-content: center;
  }
}

.sectionTitle {
  text-align: center;
  color: var(--color-text);
  margin-bottom: 10px;
}

.titleContainer {
  max-width: 720px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
}
